.rs-17 .about-us {
	position: relative;
	background-color: #e2f2e0;
	padding-bottom: 35px;
	margin-bottom: -80px;
}

.rs-17 .about-us .about-us__bg {
	position: absolute;
	right: 95px;
	top: 0;
	height: 100%;
	width: calc(50% - 95px);
	background-color: #8ec27f;
	border-radius: 0 0 200px 0;
}

.rs-17 .about-us .about-us__img {
	position: absolute;
	right: 0;
	bottom: 35px;
	width: 40.8%;
	z-index: 3;
}

.rs-17 .about-us .about-us__container {
	position: relative;
	max-width: 944px;
	min-height: 690px;
	padding: 70px 95px 135px 0;
	z-index: 2;
}

.rs-17 .about-us .about-us__container::before {
	content: "";
	position: absolute;
	right: 0;
	top: 0;
	width: 100vw;
	height: 100%;
	background-color: #e2f2e0;
	z-index: -1;
}

.rs-17 .about-us .about-us__subtitle {
	margin-bottom: 32px;
}

.rs-17 .about-us .about-us__desc {
	font-family: Nunito-Regular;
	font-size: 17px;
	color: #223645;
	line-height: 26px;
	margin-bottom: 30px;
}

.rs-17 .about-us .about-us__btn {
	width: 210px;
	height: 49px;
	font-size: 15px;	
}

.rs-17 .about-us .about-us__btn .btn-bg {
	border-radius: 24px;
}

@media screen and (max-width: 1820px) {
	.rs-17 .about-us .about-us__img {
		width: 32%;
	}
	.rs-17 .about-us .about-us__bg {
		right: 0;
	}
}

@media screen and (max-width: 1500px) {
	.rs-17 .about-us .about-us__container {
		max-width: 860px;
	}
}

@media screen and (max-width: 1400px) {
	.rs-17 .about-us .about-us__container {
		max-width: 750px;
	}
	.rs-17 .about-us .about-us__img {
		bottom: 25%;
	}
}

@media screen and (max-width: 1060px) {
	.rs-17 .about-us .about-us__img,
	.rs-17 .about-us .about-us__bg {
		display: none;
	}
	.rs-17 .about-us .about-us__container {
		max-width: 100%;
		padding-right: 0;
	}
}

@media screen and (max-width: 920px) {
	.rs-17 .about-us .about-us__btn {
		height: 35px;
		width: 170px;
		font-size: 14px;
		margin: 0 auto;
	}
}